<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - "%msg"%n</pattern>
        </encoder>
    </appender>


    <logger name="org.apache.qpid" level="ERROR"/>
    <logger name="qpid" level="ERROR"/>

    <logger name="ch.qos.logback" level="WARN"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ITVSYSLOG"/>
    </root>
</configuration>
