.scalatex-scrollspy-Styles-selected {
  background-color: #666666;
}

.scalatex-scrollspy-Styles-menuLink {
  background-color: #666666;
}

dfn {
  font-family: monospace;
  font-style: normal;
  font-weight: bold;
}