
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - "%msg"%n</pattern>
        </encoder>
    </appender>

    <appender name="ITVSYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>
        <facility>LOCAL3</facility>
        <suffixPattern>content-delivery - work-order-to-workflow-translator - [%thread] %-5level %logger - "%msg"%n</suffixPattern>
    </appender>

    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.itv" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ITVSYSLOG"/>
    </root>
</configuration>
