name: Build and Publish

on:
  push:
    branches:
      - master
    tags:
      - v*.*
  pull_request:
    branches:
      - master

jobs:
  build:
    timeout-minutes: 60

    permissions:
      id-token: write
      contents: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: temurin
          cache: sbt

      - name: Install sbt
        run: |
          apt-get update
          apt-get install -y sbt

      - name: Run the docker-compose integration test dependencies
        run: docker compose up -d

      - name: Run tests
        run: sbt +test +it/test

      - name: Import GPG key
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_KEY_PRIVATE }}
          passphrase: ${{ secrets.GPG_KEY_PASSPHRASE }}

      - name: Publish
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: sbt +publishSigned
        env:
          SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
          SONATYPE_PASS: ${{ secrets.SONATYPE_PASS }}
          GPG_KEY_PASSPHRASE: ${{ secrets.GPG_KEY_PASSPHRASE }}
